<header>
  <mat-toolbar color="primary" class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <!-- menu burger button -->
      <button id="open-menu" mat-icon-button class="text-white" (click)="toggleSidebar()">
        <mat-icon>menu</mat-icon>
      </button>
      <a [routerLink]="['/']" class="text-white text-decoration-none me-2">Diaryist</a>
    </div>
    <div>
      <ng-container *ngIf="user$ | async; else unauthorizedButtons">
        <button id="open-settings" mat-icon-button class="text-white" (click)="openSettings()">
          <mat-icon>settings</mat-icon>
        </button>
        <button id="start-tour" mat-button (click)="startTour()">Start tour</button>
        <button id="log-out" mat-button (click)="logout()">Log Out</button>
      </ng-container>
      <ng-template #unauthorizedButtons>
        <button id="log-in" mat-button (click)="login()">Log In</button>
        <button id="sign-up" mat-button (click)="signup()">Sign Up</button>
      </ng-template>
    </div>
  </mat-toolbar>
</header>
