<header>
  <mat-toolbar color="primary" class="d-flex justify-content-between">
    <div class="d-flex align-items-center">
      <a [routerLink]="['/']" class="text-white text-decoration-none me-2">Diaryist</a>
    </div>
    <div>
      <button mat-button (click)="startTour()">Start tour</button>

      <ng-container *ngIf="isAuthorized; else unauthorizedButtons">
        <button mat-button (click)="logout()">Log Out</button>
      </ng-container>
      <ng-template #unauthorizedButtons>
        <button mat-button (click)="login()">Log In</button>
        <button mat-button (click)="signup()">Sign Up</button>
      </ng-template>

    </div>
  </mat-toolbar>
</header>
