#layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-height: 100vh;
}

#body {
  flex: 1 1 auto;
  display: flex;
  overflow: hidden;
  position: relative;
}

#main {
  width: 100%;
}

#sidebar {
  z-index: 1;
  flex: 0 0 auto;
  transition: transform 0.3s ease;
  &.hidden {
    position: absolute;
    transform: translateX(-100%);
  }
}
