aside {
  width: 300px;
  flex-shrink: 0;
  overflow-y: auto;
  height: calc(100vh - 24px - 64px);
  background: #3f51b5;
  color: white;
}

.user-info {
  position: relative;
  .panel {
    position: absolute;
    background: rgba(0, 0, 0, 0.56);
    bottom: 0;
    width: 100%;
  }
}

