<section class="p-4">

  <button class="btn btn-primary mb-2" routerLink="/">go back</button>

  <app-entry-preview *ngIf="loading"></app-entry-preview>

  <ng-container *ngIf="!loading">
    <p class="mb-1 text-nowrap">{{ entry.created | date }}</p>

    <app-entry-form *ngIf="edit"
                    [entry]="entry"
                    (entryChange)="onEntryChange($event)"
    ></app-entry-form>

    <app-entry-view *ngIf="!edit"
                    [entry]="entry"
                    (click)="switchEdit(true)"
    ></app-entry-view>
  </ng-container>

</section>
