<section class="p-4">

  <button class="btn btn-primary mb-2" routerLink="/entry/new">create new entry</button>

  <ul class="list-group">
    <li class="list-group-item cursor-pointer animate__animated animate__fadeIn animate__faster"
        *ngFor="let entry of entries" [routerLink]="['/entry/' + entry.id ]">
      <div class="d-flex gap-3 align-items-center">
        <p class="mb-0 text-nowrap">{{ entry.created | date }}</p>
        <div>
          <h6 *ngIf="entry.title">{{ entry.title }}</h6>
          <p class="mb-0">{{ entry.text }}</p>
        </div>
      </div>
    </li>
  </ul>

</section>
