<section class="p-4">

  <button class="btn btn-primary mb-2" id="tour-create-entry-btn" routerLink="/entry/new">create new entry</button>

  <ul class="list-group" *ngIf="loading">
    <li class="list-group-item" *ngFor="let _ of [].constructor(20)">
      <ngx-content-loading
        [speed]="'1500ms'"
        [height]="50"
        [width]="1000"
      >
        <svg:g ngx-rect width="55" height="13" y="18" x="0" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="200" height="13" y="5" x="64" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="936" height="10" y="26" x="64" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="35" height="10" y="39" x="64" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="45" height="10" y="39" x="102" rx="5" ry="5"></svg:g>
        <svg:g ngx-rect width="35" height="10" y="39" x="150" rx="5" ry="5"></svg:g>
      </ngx-content-loading>
    </li>
  </ul>

  <ul id="tour-entry-list" class="list-group" *ngIf="(entries$ | async)?.length; else noEntriesText">
    <li class="list-group-item cursor-pointer list-group-item-action"
        *ngFor="let item of entries$ | async; trackBy:trackById" [routerLink]="['/entry/' + item.id ]">
      <div class="d-flex gap-3 align-items-center">
        <p class="mb-0 text-nowrap">{{ item.created | date }}</p>
        <div>
          <h2 *ngIf="item.title" class="mb-1">{{ item.title }}</h2>
          <p class="mb-0">{{ item.text }}</p>
          <div *ngIf="item?.tags?.length">
            <span class="badge bg-success fw-normal me-1" *ngIf="item?.category">{{ item.category?.name }}</span>
            <span class="badge bg-secondary me-1 fw-normal" *ngFor="let tag of item.tags">{{ tag.name }}</span>
            <span class="badge bg-danger fw-normal" *ngIf="item?.mood">{{ item.mood }}</span>
          </div>
        </div>
      </div>
    </li>
  </ul>

</section>

<ng-template #noEntriesText>
  <p>
    No entries here... 😞
  </p>
</ng-template>
