<ngx-content-loading
  [speed]="'1500ms'"
  [height]="200"
  [width]="1000"
>
  <svg:g ngx-rect width="55" height="10" y="5" x="0" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="200" height="13" y="20" x="0" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="936" height="10" y="41" x="10" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="928" height="10" y="54" x="10" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="942" height="10" y="67" x="10" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="420" height="10" y="80" x="10" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="35" height="10" y="98" x="0" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="45" height="10" y="98" x="38" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="35" height="10" y="98" x="86" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="35" height="10" y="111" x="0" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="45" height="10" y="111" x="38" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="35" height="10" y="111" x="86" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="35" height="10" y="124" x="0" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="45" height="10" y="124" x="38" rx="5" ry="5"></svg:g>
  <svg:g ngx-rect width="35" height="10" y="124" x="86" rx="5" ry="5"></svg:g>
</ngx-content-loading>
