<form class="p-3" [formGroup]="formGroup" (submit)="submit()">
  <h2>Log In</h2>
  <div class="mb-2">
    <label>Username</label>
    <input id="username" type="text" class="form-control" placeholder="Write your username" formControlName="username">
  </div>
  <div class="mb-2">
    <label>Password</label>
    <input id="password" type="password" class="form-control" placeholder="Write your password"
           formControlName="password">
  </div>
  <button id="submit" type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Authorize</button>
</form>
